api { 
    # Zeeshan Khan's workspace
    web_server: https://app.clear.ml
    api_server: https://api.clear.ml
    files_server: https://files.clear.ml
    credentials {
        "access_key" = "6WHNJJTX5P6C4PCO75DD"
        "secret_key"  = "QZrDhfLWbBLKkj7uMJrrvVx4DGBMvSHfBOouxgpcnx79JzYi3g"
    }
}